body {
    background-image: url("./v882-kul-47.jpg");
    background-size: cover;
    background-position: center;
    margin: 100px;
    padding: 10px;
    position: relative;
    color: white;
    height: 100vh;
}



/* Top left buttons for cv and contact */
.top-left-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    background-color: #ff9900;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}



.name {
    font-family: serif;
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    position: relative;
    cursor: pointer;


}

/* changing the  i into EE */
.transform-ee {
    display: none;
}

.name:hover .transform-i {
    display: none;
}

.name:hover .transform-ee {
    display: inline;
    color: #ff9900;
}


/* skills design */
.skills {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: #ff9900;
    margin-bottom: 70px;
}

.skills:hover {
    color: white;
}

.image {
    text-align: center;
    margin-top: 100px;

}

#myImage img {
    border-radius: 100%;
    height: 150px;
    margin: none;


}

#introduction {
    text-align: center;
    margin: 10px 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.education {
    margin: 30px;
    text-align: center;
    text-decoration-line: overline;


}


/* skills */


.skillhead {
    margin-top: 270px;
    text-align: center;
    color: #ff9900;
    font-size: 30px;
    border: 5px solid #ffffff;
    padding: 20px;
    text-decoration: overline;



}



.skillgridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);

}

.skillgrid {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.skillgrid img {
    height: 120px;
    width: 120px;
    margin: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
}

.skillgrid img:hover {
    zoom: 1.1;
    background-color: #000000;
}




/* Projects */


.projecthead {

    margin-top: 230px;
    text-align: center;
    color: #ff9900;
    font-size: 30px;
    border: 5px solid #ffffff;
    padding: 20px;
    text-decoration: overline;
}





.projectgridcontainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}


/* project images */
.projectgriditem1 {
    margin-top: 30px;
    margin-bottom: 340px;
    margin-left: 20px;
    margin-right: 10px;



}


.projectgriditem3 {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;




}

.projectgriditem5 {
    margin-left: 20px;
    margin-top: 85px;
    margin-right: 10px;



}


#projectimg img {
    height: 400px;
    width: 600px;
    opacity: 0.7;
    z-index: 2;
    border-radius: 5px;

}

#projectimg img:hover {
    opacity: 1;
    cursor: pointer;

}

/* project headings (names) */

#projectheading1 {
    color: #ff9900;
    margin-left: 20px;
    margin-top: 50px;

}

#projectheading3 {
    color: #ff9900;
    margin-left: 40px;
    margin-top: 30px;

}

#projectheading5 {
    color: #ff9900;
    margin-left: 50px;
    margin-top: 100px;

}

/* project descriptions */

b {
    text-decoration: underline;
    color: #ff9900;
}

#lang {
    color: #ff9900;
    text-decoration: none;
}






/* github repo buttons */

#gitbutton {
    margin-left: 140px;
    background-color: #ff9900;
    color: #000000;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;

}

#gitbutton a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gitbutton:hover {

    background-color: #000000;
    color: #ffffff;

}

#webbutton {
    margin-left: 140px;
    background-color: #ff9900;
    color: #000000;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    padding: 2px 34px;

}

#webbutton a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#webbutton:hover {

    background-color: #000000;
    color: #ffffff;

}



/* art gallery */

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    justify-content: center;
    margin: 30px 130px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#griditems {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

#griditems img {
    opacity: 0.9;
    max-width: 100%;
    height: 150px;
}

#griditems:hover {
    opacity: 1;
    background-color: black;
    /* zoom: 30%; */
    scale: 1.1;


}

.arthead {
    margin-top: 40px;
    text-align: center;
    color: #ff9900;
    font-size: 30px;
    border: 5px solid #ffffff;
    padding: 20px;
    text-decoration: overline;
}

/* contact me */

.contacthead {
    margin-top: 240px;
    text-align: center;
    color: #ff9900;
    font-size: 30px;
    border: 5px solid #ffffff;
    padding: 20px;
    text-decoration: overline;

}

.card {
    background-color: #ff9900;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: 350px;
    margin-bottom: 60px;
    width: 300px;
}

.card img {
    width: 25px;
    height: 25px;
}

.card h2 {
    margin: 10px 0;
    color: rgb(0, 0, 0);
}


.card p {
    margin: 5px 0;
    color: rgb(0, 0, 0);
}

.action {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}


.card a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* footer */

.footer {
    /* background-color: rgb(0, 0, 0.7); */
    backdrop-filter: blur(60%);
    color: #ff9900;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;

}

.footer-icons {
    margin-top: 10px;
}

.icon {
    display: inline-block;
    margin: 0 15px;
}

.icon img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.icon img:hover {
    transform: scale(1.1);
}


.footer a {
    text-decoration: none;
    color: #ff9900;
    margin: 10px;
}    

           
/* RESPONSIVE DESIGN */
  


/* Responsive styles for devices with max-width: 480px */
@media (max-width: 750px) {
    body {
        background-image: url(./dark-grunge-style-scratched-metal-surface.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center top;
        /* overflow-x: hidden; */
        margin: 0;
        padding: 0;
    }

    .top-left-buttons {
        position: relative;
        margin-left: 2px;
        margin-top: 5px;
        padding: 3px;
        justify-content: flex-start
    }

    .name {
        font-size: 25px;
        padding-top: 10px;
        text-align: center;
    }

    .button {
        font-size: small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px 15px;
        background-color: #ff9900;
        color: #000000;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .button:hover {
        background-color: #000000;
        color: #ffffff;
    }




    /* changing the  i into EE */
    .transform-ee {
        display: none;
    }

    .name:hover .transform-i {
        display: none;
    }

    .name:hover .transform-ee {
        display: inline;
        color: #ff9900;
    }


    /* skills design */
    .skills {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        color: #ff9900;
        margin-bottom: 20px;
    }

    .skills:hover {
        color: white;
    }

    .image {
        text-align: center;
        margin-top: 100px;
      }
      
      #myImage img {
        display: block;
        border-radius: 50%; /* To make a perfect circle, set to 50% */
        height: 150px;
        margin: 0 auto;
       
      }
      
      #introduction {
        text-align: justify;
        margin: 0 3px;
        font-size: 14px;
        padding: 10px;
        width: 100%;
      }

    .education {
        margin: 30px;
        text-align: center;
        text-decoration-line: overline;


    }


    /* skills */


    .skillhead {
        margin-top: 50px;
        text-align: center;
        color: #ff9900;
        font-size: 20px;
        border: none;
        padding: 1px;
        text-decoration: overline;



    }



    .skillgridcontainer {
        display: grid;
        grid-template-columns: repeat(2, 0.4fr);
        justify-content: space-evenly;

    }

    .skillgrid {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .skillgrid img {
        height: 60px;
        width: 60px;
        margin-left: 36px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 100px;
        background-color: rgb(0, 0, 0);
    }

    .skillgrid img:hover {
        zoom: 1.1;
        background-color: #000000;
    }




    /* Projects */

    .projecthead {
        margin-top: 50px;
        text-align: center;
        color: #ff9900;
        font-size: 20px;
        border: none;
        padding: 20px;
        text-decoration: overline;
        margin-bottom: 2px;
      }
      
      .projectgridcontainer {
       display: grid;
       grid-template-columns: 1fr;
    
       
       
      }
      
      .projectgriditem1,
      .projectgriditem3,
      .projectgriditem5 {
        margin: 5px;
       
      
      }
      
      #projectimg img {
      
        height: 200px;
        width: auto;
        opacity: 0.8;
        border-radius: 20px;
       
        border: 3px solid #ff9900;
        display: block;
        margin: 0 auto; /* Center-align the image */
        margin-top: 50px;
      
      }
      
      #projectimg img:hover {
        opacity: 1;
        cursor: pointer;
      }
      
      #projectheading1,
      #projectheading3,
      #projectheading5 {
        color: #ff9900;
        font-size: 16px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        
        
       
      }
      
      #projectdesc1,
      #projectdesc3,
      #projectdesc5 {
        font-weight: 30;
        
        text-align: center;
        
        padding: 10px;
        font-size: 10px;

        
        
      }
      
      li {
        margin: 10px;
        padding: 10px;
     
      }
      
      #gitbutton,
      #webbutton {
         text-align: center;
         align-items: center;
         justify-content: center;
       
      }
      
    
    
      
   
    



    /* art gallery */

    .gridcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        justify-content: center;
        margin: 10px 10px;
        opacity: 0;
        transform: translateY(30px);
        animation: fadeInUp 5s forwards;
        
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #griditems {
        background-color: #000000;
        padding: 3px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10px;
    }

    #griditems img {
        opacity: 0.9;
        max-width: 100%;
        height: 150px;
    }

    #griditems:hover {
        opacity: 1;
        background-color: black;
        /* zoom: 30%; */
        scale: 1.1;


    }

    .arthead {
        margin-top: 50px;
        text-align: center;
        color: #ff9900;
        font-size: 20px;
       border: none;
        padding: 20px;
        text-decoration: overline;
    }

    /* contact me */

    .contacthead {
        margin-top: 50px;
        text-align: center;
        color: #ff9900;
        font-size: 20px;
        border: none;
        padding: 20px;
        text-decoration: overline;

    }

    .card {
        border-radius: 20px;
       
        border: 3px solid #000000;
        display: block;
        margin: 20px auto;
    }
    .card:hover{
    
        backdrop-filter: blur(80%);
        cursor: pointer;
        
    }

    .card img {
        width: 18px;
        height: 18px;
    }

    .card h2 {
        margin: 10px 0;
        color: rgb(0, 0, 0);
    }

    

    .card p {
        margin: 5px 0;
        color: rgb(0, 0, 0);
    }

    .action {
        color: rgb(0, 0, 0);
        text-decoration: underline;
        cursor: pointer;
    }


    .card a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }




    /* footer */

    .footer {
        /* background-color: rgb(0, 0, 0.7); */
        backdrop-filter: blur(60%);
        color: #ff9900;
        text-align: center;
        padding: 20px 0;
        border-radius: 20px;
        font-size: 10px;

    }

    .footer-icons {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .icon {
        display: inline-block;
        margin: 0 5px;
    }

    .icon img {
        width: 12px;
        height: 12px;
        transition: transform 0.3s;
    }

    .icon img:hover {
        transform: scale(1.1);
    }


    .footer a {
        text-decoration: none;
        color: #ff9900;
        margin: 5px;
    }

  
}
